<div class="main-page">

  <div class="quote">
    <!-- add Warren Buffet quote here -->
  </div>

  <div class="login-signup">
    <p class="welcome">Welcome!, please login or signup to continue!</p>
    <div class="login-form">
      <%= form_for(:session, url: login_path) do |f| %>

        <%= f.text_field :email, placeholder: "Enter Your Email", id: "login-email" %>
        <%= f.password_field :password, placeholder: "Enter Your Password", id: "login-password" %>
        <%= f.submit "Login", id: "login-btn" %>

        <% if @user.errors.any? %>
          <div id="error_explanation">
            <p> There are <%= pluralize(@user.errors.count, "error") %> prohibited you from logging in:</p>
            <ul>
              <%= @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
    <p class="no-acct"> Don't have an account?</p>
    <div class="signup-btn">
      <%= link_to "Signup", new_user_path, id: "signup-btn" %>
      <p>It's Free!</p>
    </div>
    </div>

  </div>
</div>
