
<% if @stock %>
  <div id="description-news">
    <div class="company-description">
    <% # a div to display the description of companies %>
      <table>
        <thead>
          <tr>
            <th class="news-title" colspan="2"> Company Profile</th>
          </tr>
        </thead>
        <tbody>
          <% @company_profile.each do |detail, profile|%>
          <tr>
            <td class="company-detail"><%= detail.capitalize %></td>
            <td class="company-profile"><%= profile %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="news-headline">
    <% # a div to display the news of equity %>
    <h3 class="headline">Headlines</h3>
      <% @news.each do |anchor_element| %>
        <li class="news"><a href="<%= anchor_element[:href] %>" class="link" target=_><%= anchor_element[:title] %></a>
          <span class="publisher"><%=anchor_element[:publisher]%></span> <span class="published_date"><%=anchor_element[:published_date] %></span></li>
      <% end %>
    </div>
  </div>





  <div class="chart">
    <!-- if symbole exists, plot the data

<!--   <img src="<%=@plot_data_img%>" /> -->
  </div>

    <div class="comment-box">
      <!-- comment box for a specific stock -->
      <div class="comment-box-form">
         <form id="comment-form" action="/stocks/<%=@stock.symbol%>/period/<%=params[:period]%>" method="post">
          <label for="comment"></label>
          <input id="comment" type="text" name="comment"  placeholder="Leave a Comment">
          <input type="submit" value="Submit">
        </form>
      </div>

      <% @comment.each do |content| %>
        <%= erb :_comment, :locals => {:content => content}  %>
        <% #don't need to pass @stocks as local since it's an instance variable %>
      <% end # each each%>
  </div>

  <div class="table-data">
    <!-- if symbole exists -->
    <% if @data %>
      <table>
        <thead>
          <tr>
            <th class="tbl-title" colspan="6"> Prices for <%=
            "Symbol = " + @stock.symbol%></th>
          </tr>
          <tr class="tbl-header">
              <th>Date</th>
              <th>Open</th>
              <th>High</th>
              <th>Low</th>
              <th>Close</th>
              <th>Volume</th>
           </tr>
        </thead>
        <tbody>
            <% @data.each_with_index do |data, index| %>
              <% if index.even? %>
               <tr class="tbl-row-even">
                  <td><%= data.date %></td>
                  <td><%= data.open.round(3) %></td>
                  <td><%= data.high.round(3) %></td>
                  <td><%= data.low.round(3) %></td>
                  <td><%= data.close.round(3) %></td>
                  <td><%= Stock.separate_comma(data.volume.to_i) %></td>
               </tr>
              <% else %>
               <tr class="tbl-row-odd">
                  <td><%= data.date %></td>
                  <td><%= data.open.round(3) %></td>
                  <td><%= data.high.round(3) %></td>
                  <td><%= data.low.round(3) %></td>
                  <td><%= data.close.round(3) %></td>
                  <td><%= Stock.separate_comma(data.volume.to_i) %></td>
               </tr>
              <%end #end if%>
         <%end #end each%>
        </tbody>
      </table>
    <%elsif @data == "not valid"%>
      <li class="sym-error"> The symbol you entered is not valid. Please pick a valid symbol!</li>
    <%end #end if%>
  </div>
<% end #end if %> -->

